# Dependencias (Se instalan, no se suben)
node_modules/
*/node_modules/

# Archivos de entorno (Tienen contraseñas)
.env
*/.env

# Archivos de compilación
dist/
*/dist
build/
*/build

# Logs y sistemas
*.log
.DS_Store


# Archivos generados por TypeScript en backend
clinica-backend/**/*.js
clinica-backend/**/*.js.map
clinica-backend/**/*.d.ts
clinica-backend/**/*.d.ts.map

# Build frontend
clinica-frontend/dist/

# Build backend, si luego configuras outDir
clinica-backend/dist/