[dotenv@17.2.3] injecting env (2) from .env -- tip: Ô£à audit secrets and track compliance: https://dotenvx.com/ops
BEGIN TRY

BEGIN TRAN;

-- CreateTable
CREATE TABLE [dbo].[Cita] (
    [ID_Cita] INT NOT NULL IDENTITY(1,1),
    [FechaCita] DATE NOT NULL,
    [HoraCita] TIME NOT NULL,
    [MotivoConsulta] VARCHAR(max),
    [NotasCancelacion] VARCHAR(max),
    [ID_TipoCita] INT NOT NULL,
    [ID_Direccion] INT NOT NULL,
    [ID_EstadoCita] INT NOT NULL,
    [ID_Paciente] INT NOT NULL,
    [ID_Psicologo] INT NOT NULL,
    [ID_MotivoCancelacion] INT,
    CONSTRAINT [PK__Cita__7C17FD16CF3DDB7E] PRIMARY KEY CLUSTERED ([ID_Cita])
);

-- CreateTable
CREATE TABLE [dbo].[EspecialidadPsicologo] (
    [ID_Especialidad] INT NOT NULL IDENTITY(1,1),
    [Nombre_Especialidad] VARCHAR(100),
    CONSTRAINT [PK__Especial__5D7732D764B5D2D3] PRIMARY KEY CLUSTERED ([ID_Especialidad])
);

-- CreateTable
CREATE TABLE [dbo].[EstadoCita] (
    [ID_EstadoCita] INT NOT NULL IDENTITY(1,1),
    [NombreEstado] VARCHAR(50) NOT NULL,
    CONSTRAINT [PK__EstadoCi__82FA13D9701DFEA3] PRIMARY KEY CLUSTERED ([ID_EstadoCita])
);

-- CreateTable
CREATE TABLE [dbo].[EstadoCivil] (
    [ID_EstadoCivil] INT NOT NULL IDENTITY(1,1),
    [Nombre_EstadoCivil] VARCHAR(50) NOT NULL,
    CONSTRAINT [PK__EstadoCi__D2E3FEE7FA9F41B9] PRIMARY KEY CLUSTERED ([ID_EstadoCivil])
);

-- CreateTable
CREATE TABLE [dbo].[Expediente] (
    [ID_Expediente] INT NOT NULL IDENTITY(1,1),
    [No_Expediente] VARCHAR(50),
    [FechaIngreso] DATE CONSTRAINT [DF__Expedient__Fecha__114A936A] DEFAULT CURRENT_TIMESTAMP,
    [Observaciones_Generales] VARCHAR(max),
    [ID_Paciente] INT,
    CONSTRAINT [PK__Expedien__5D219D4BE9E0F3B2] PRIMARY KEY CLUSTERED ([ID_Expediente]),
    CONSTRAINT [UQ__Expedien__5387192089BE9BB1] UNIQUE NONCLUSTERED ([No_Expediente]),
    CONSTRAINT [UQ__Expedien__5F36506055DE2FC1] UNIQUE NONCLUSTERED ([ID_Paciente])
);

-- CreateTable
CREATE TABLE [dbo].[ExploracionPsicologica] (
    [ID_ExploracionPsicologica] INT NOT NULL IDENTITY(1,1),
    [Nombre_De_ExploracionPsicologica] VARCHAR(255),
    CONSTRAINT [PK__Explorac__34F22EBA4DCAAA92] PRIMARY KEY CLUSTERED ([ID_ExploracionPsicologica])
);

-- CreateTable
CREATE TABLE [dbo].[MetodoPago] (
    [ID_Metodo_Pago] INT NOT NULL IDENTITY(1,1),
    [Nombre_Metodo] VARCHAR(50) NOT NULL,
    CONSTRAINT [PK__MetodoPa__5CFE09789E68A851] PRIMARY KEY CLUSTERED ([ID_Metodo_Pago])
);

-- CreateTable
CREATE TABLE [dbo].[Ocupacion] (
    [ID_Ocupacion] INT NOT NULL IDENTITY(1,1),
    [Nombre_DeOcupacion] VARCHAR(100) NOT NULL,
    CONSTRAINT [PK__Ocupacio__F231BE6207145EAA] PRIMARY KEY CLUSTERED ([ID_Ocupacion])
);

-- CreateTable
CREATE TABLE [dbo].[Paciente] (
    [ID_Paciente] INT NOT NULL IDENTITY(1,1),
    [Nombre] VARCHAR(100) NOT NULL,
    [Apellido] VARCHAR(100) NOT NULL,
    [Fecha_Nacimiento] DATE NOT NULL,
    [Genero] VARCHAR(20) NOT NULL,
    [Nacionalidad] VARCHAR(50) NOT NULL,
    [ID_Direccion] INT NOT NULL,
    [Activo] BIT CONSTRAINT [DF__Paciente__Activo__5EBF139D] DEFAULT 1,
    CONSTRAINT [PK__Paciente__5F36506111B0A8D9] PRIMARY KEY CLUSTERED ([ID_Paciente])
);

-- CreateTable
CREATE TABLE [dbo].[PacienteAdulto] (
    [ID_PacienteAdulto] INT NOT NULL,
    [No_Cedula] VARCHAR(20) NOT NULL,
    [No_Telefono] VARCHAR(20) NOT NULL,
    [ID_Ocupacion] INT NOT NULL,
    [ID_EstadoCivil] INT NOT NULL,
    CONSTRAINT [PK__Paciente__1669669C9ED8B10A] PRIMARY KEY CLUSTERED ([ID_PacienteAdulto]),
    CONSTRAINT [UQ__Paciente__600FDDF12A59DF32] UNIQUE NONCLUSTERED ([No_Cedula])
);

-- CreateTable
CREATE TABLE [dbo].[Parentesco] (
    [ID_Parentesco] INT NOT NULL IDENTITY(1,1),
    [Nombre_De_Parentesco] VARCHAR(50) NOT NULL,
    CONSTRAINT [PK__Parentes__9620BBD54D7C260E] PRIMARY KEY CLUSTERED ([ID_Parentesco])
);

-- CreateTable
CREATE TABLE [dbo].[Psicologo] (
    [ID_Psicologo] INT NOT NULL IDENTITY(1,1),
    [ID_Usuario] INT,
    [CodigoMinsa] VARCHAR(50) NOT NULL,
    [Nombre] VARCHAR(100) NOT NULL,
    [Apellido] VARCHAR(100) NOT NULL,
    [No_Telefono] VARCHAR(20) NOT NULL,
    [ID_Direccion] INT NOT NULL,
    [Activo] BIT CONSTRAINT [DF__Psicologo__Activ__778AC167] DEFAULT 1,
    CONSTRAINT [PK__Psicolog__66BB77D0A4EA1828] PRIMARY KEY CLUSTERED ([ID_Psicologo]),
    CONSTRAINT [UQ__Psicolog__DE4431C4C7B283A6] UNIQUE NONCLUSTERED ([ID_Usuario]),
    CONSTRAINT [UQ__Psicolog__40E586CB59DF25BC] UNIQUE NONCLUSTERED ([CodigoMinsa])
);

-- CreateTable
CREATE TABLE [dbo].[Psicologo_EspecialidadPsicologo] (
    [ID_Psicologo] INT NOT NULL,
    [ID_Especialidad] INT NOT NULL,
    CONSTRAINT [PK__Psicolog__036C04FDE375AD97] PRIMARY KEY CLUSTERED ([ID_Psicologo],[ID_Especialidad])
);

-- CreateTable
CREATE TABLE [dbo].[Sesion] (
    [ID_Sesion] INT NOT NULL IDENTITY(1,1),
    [ID_Cita] INT,
    [HoraDeInicio] TIME,
    [HoraFinal] TIME,
    [Observaciones] VARCHAR(max) NOT NULL,
    [DiagnosticoDiferencial] VARCHAR(max) NOT NULL,
    [HistorialDeEvolucion] VARCHAR(max) NOT NULL,
    [Criterios_DeDiagnostico] VARCHAR(max) NOT NULL,
    [ID_Expediente] INT,
    CONSTRAINT [PK__Sesion__20FD61FF44FF8F87] PRIMARY KEY CLUSTERED ([ID_Sesion]),
    CONSTRAINT [UQ__Sesion__7C17FD1799FD0F3C] UNIQUE NONCLUSTERED ([ID_Cita])
);

-- CreateTable
CREATE TABLE [dbo].[Sesion_ExploracionPsicologica] (
    [ID_Sesion] INT NOT NULL,
    [ID_ExploracionPsicologica] INT NOT NULL,
    CONSTRAINT [PK__Sesion_E__93B243145D1CB4ED] PRIMARY KEY CLUSTERED ([ID_Sesion],[ID_ExploracionPsicologica])
);

-- CreateTable
CREATE TABLE [dbo].[TipoDeCita] (
    [ID_TipoCita] INT NOT NULL IDENTITY(1,1),
    [Nombre_DeCita] VARCHAR(50) NOT NULL,
    CONSTRAINT [PK__TipoDeCi__9D5E7183602F7C30] PRIMARY KEY CLUSTERED ([ID_TipoCita])
);

-- CreateTable
CREATE TABLE [dbo].[Tratamiento] (
    [ID_Tratamiento] INT NOT NULL IDENTITY(1,1),
    [FechaInicio] DATE NOT NULL,
    [FechaFin] DATE,
    [Frecuencia] VARCHAR(100) NOT NULL,
    [ID_Sesion] INT,
    [ID_Psicologo_Firma] INT,
    CONSTRAINT [PK__Tratamie__37F4ED15F7D4EF73] PRIMARY KEY CLUSTERED ([ID_Tratamiento])
);

-- CreateTable
CREATE TABLE [dbo].[Tutor] (
    [ID_Tutor] INT NOT NULL IDENTITY(1,1),
    [No_Cedula] VARCHAR(20),
    [Nombre] VARCHAR(100) NOT NULL,
    [Apellido] VARCHAR(100) NOT NULL,
    [No_Telefono] VARCHAR(20) NOT NULL,
    [Ocupacion] INT NOT NULL,
    [EstadoCivil] INT NOT NULL,
    CONSTRAINT [PK__Tutor__9D71D65AE24DF676] PRIMARY KEY CLUSTERED ([ID_Tutor]),
    CONSTRAINT [UQ__Tutor__600FDDF18C06C010] UNIQUE NONCLUSTERED ([No_Cedula])
);

-- CreateTable
CREATE TABLE [dbo].[ViaAdministracion] (
    [ID_ViaAdministracion] INT NOT NULL IDENTITY(1,1),
    [Nombre_De_Presentacion] VARCHAR(100) NOT NULL,
    CONSTRAINT [PK__ViaAdmin__1DEFBD2407A650E2] PRIMARY KEY CLUSTERED ([ID_ViaAdministracion])
);

-- CreateTable
CREATE TABLE [dbo].[MotivoCancelacion] (
    [ID_MotivoCancelacion] INT NOT NULL IDENTITY(1,1),
    [Motivo] VARCHAR(255),
    CONSTRAINT [PK__MotivoCa__BFA306DD2AF467F8] PRIMARY KEY CLUSTERED ([ID_MotivoCancelacion])
);

-- CreateTable
CREATE TABLE [dbo].[Alergia] (
    [ID_Alergia] INT NOT NULL IDENTITY(1,1),
    [Nombre_Alergia] VARCHAR(100),
    [Tipo_Alergia] VARCHAR(100),
    CONSTRAINT [PK__Alergia__874F21E5A8D4C521] PRIMARY KEY CLUSTERED ([ID_Alergia])
);

-- CreateTable
CREATE TABLE [dbo].[AuditoriaCita] (
    [ID_AuditoriaCita] INT NOT NULL IDENTITY(1,1),
    [ID_Cita] INT NOT NULL,
    [ID_Paciente] INT NOT NULL,
    [ID_Tutor] INT NOT NULL,
    [Usuario] VARCHAR(100) CONSTRAINT [DF__Auditoria__Usuar__47A6A41B] DEFAULT 'suser_sname()',
    [MotivoConsulta] VARCHAR(max) NOT NULL,
    [FechaHoraCita] DATETIME NOT NULL,
    [FechaRegistro] DATETIME CONSTRAINT [DF__Auditoria__Fecha__489AC854] DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT [PK__Auditori__FEEC6957E7183B28] PRIMARY KEY CLUSTERED ([ID_AuditoriaCita])
);

-- CreateTable
CREATE TABLE [dbo].[Direccion] (
    [ID_Direccion] INT NOT NULL IDENTITY(1,1),
    [Pais] VARCHAR(50) NOT NULL,
    [Departamento] VARCHAR(50) NOT NULL,
    [Ciudad] VARCHAR(50) NOT NULL,
    [Barrio] VARCHAR(100) NOT NULL,
    [Calle] VARCHAR(100),
    CONSTRAINT [PK__Direccio__F4CC41729A2F7E50] PRIMARY KEY CLUSTERED ([ID_Direccion])
);

-- CreateTable
CREATE TABLE [dbo].[Divisa] (
    [ID_Divisa] INT NOT NULL IDENTITY(1,1),
    [Codigo_ISO] VARCHAR(3) NOT NULL,
    [Nombre] VARCHAR(50) NOT NULL,
    CONSTRAINT [PK__Divisa__BCD7293C2E4EF5E3] PRIMARY KEY CLUSTERED ([ID_Divisa])
);

-- CreateTable
CREATE TABLE [dbo].[Expediente_Alergia] (
    [ID_Expediente] INT NOT NULL,
    [ID_Alergia] INT NOT NULL,
    [Nivel_Severidad] VARCHAR(50),
    CONSTRAINT [PK__Expedien__15556F550B11A4C8] PRIMARY KEY CLUSTERED ([ID_Expediente],[ID_Alergia])
);

-- CreateTable
CREATE TABLE [dbo].[Paciente_Menor] (
    [ID_Paciente_Menor] INT NOT NULL,
    [PartidaDeNacimiento] VARCHAR(50) NOT NULL,
    [Grado_Escolar] VARCHAR(50),
    CONSTRAINT [PK__Paciente__210AD0824F5DAEE5] PRIMARY KEY CLUSTERED ([ID_Paciente_Menor])
);

-- CreateTable
CREATE TABLE [dbo].[Recibo] (
    [Cod_Recibo] INT NOT NULL IDENTITY(1,1),
    [ID_Cita] INT,
    [ID_Divisa] INT,
    [ID_MetodoPago] INT,
    [FechaRecibo] DATE CONSTRAINT [DF__Recibo__FechaRec__37703C52] DEFAULT CURRENT_TIMESTAMP,
    [FechaDePago] DATE,
    [HoraDePago] TIME,
    [MontoTotal] DECIMAL(18,2),
    [Tasa_Cambio] DECIMAL(18,4),
    [Observacion] VARCHAR(max),
    CONSTRAINT [PK__Recibo__C3276108171111C1] PRIMARY KEY CLUSTERED ([Cod_Recibo]),
    CONSTRAINT [UQ__Recibo__7C17FD176AA74597] UNIQUE NONCLUSTERED ([ID_Cita])
);

-- CreateTable
CREATE TABLE [dbo].[Rol] (
    [ID_Rol] INT NOT NULL IDENTITY(1,1),
    [Nombre_Rol] VARCHAR(50) NOT NULL,
    [Descripcion] VARCHAR(255),
    CONSTRAINT [PK__Rol__202AD2205A0EED50] PRIMARY KEY CLUSTERED ([ID_Rol])
);

-- CreateTable
CREATE TABLE [dbo].[sysdiagrams] (
    [name] NVARCHAR(128) NOT NULL,
    [principal_id] INT NOT NULL,
    [diagram_id] INT NOT NULL IDENTITY(1,1),
    [version] INT,
    [definition] VARBINARY(max),
    CONSTRAINT [PK__sysdiagr__C2B05B6185636C1B] PRIMARY KEY CLUSTERED ([diagram_id]),
    CONSTRAINT [UK_principal_name] UNIQUE NONCLUSTERED ([principal_id],[name])
);

-- CreateTable
CREATE TABLE [dbo].[TipoDe_Terapia] (
    [ID_Tipo_Terapia] INT NOT NULL IDENTITY(1,1),
    [Nombre_De_Terapia] VARCHAR(100) NOT NULL,
    CONSTRAINT [PK__TipoDe_T__E37C8F13883DBEC0] PRIMARY KEY CLUSTERED ([ID_Tipo_Terapia])
);

-- CreateTable
CREATE TABLE [dbo].[Tratamiento_Farmaceutico] (
    [ID_Tratamiento_Farmaceutico] INT NOT NULL,
    [ID_ViaAdministracion] INT,
    [Nombre_Medicamento] VARCHAR(255) NOT NULL,
    [Dosis] VARCHAR(255) NOT NULL,
    CONSTRAINT [PK__Tratamie__348ABBCEF9A65490] PRIMARY KEY CLUSTERED ([ID_Tratamiento_Farmaceutico])
);

-- CreateTable
CREATE TABLE [dbo].[Tratamiento_Terapeutico] (
    [ID_TratamientoTerapeutico] INT NOT NULL,
    [Objetivo] VARCHAR(max),
    [ID_Tipo_Terapia] INT,
    CONSTRAINT [PK__Tratamie__DF867A0A4E7D2F56] PRIMARY KEY CLUSTERED ([ID_TratamientoTerapeutico])
);

-- CreateTable
CREATE TABLE [dbo].[Tutor_PacienteMenor] (
    [ID_Tutor] INT NOT NULL,
    [ID_Paciente_Menor] INT NOT NULL,
    [ID_Parentesco] INT NOT NULL,
    [Es_Contacto_Principal] BIT CONSTRAINT [DF__Tutor_Pac__Es_Co__6FE99F9F] DEFAULT 1,
    CONSTRAINT [PK__Tutor_Pa__AF617B524FF5291B] PRIMARY KEY CLUSTERED ([ID_Tutor],[ID_Paciente_Menor])
);

-- CreateTable
CREATE TABLE [dbo].[Usuario] (
    [ID_Usuario] INT NOT NULL IDENTITY(1,1),
    [Email] VARCHAR(100) NOT NULL,
    [PasswordHash] VARCHAR(255) NOT NULL,
    [Fecha_Creacion] DATETIME CONSTRAINT [DF__Usuario__Fecha_C__4BAC3F29] DEFAULT CURRENT_TIMESTAMP,
    [Ultimo_Acceso] DATETIME,
    [Activo] BIT CONSTRAINT [DF__Usuario__Activo__4CA06362] DEFAULT 1,
    [Verificado] BIT NOT NULL CONSTRAINT [Usuario_Verificado_df] DEFAULT 0,
    [ResetToken] NVARCHAR(1000),
    [ResetTokenExpire] DATETIME2,
    CONSTRAINT [PK__Usuario__DE4431C563777BAA] PRIMARY KEY CLUSTERED ([ID_Usuario]),
    CONSTRAINT [UQ__Usuario__A9D10534AEF0F97C] UNIQUE NONCLUSTERED ([Email])
);

-- CreateTable
CREATE TABLE [dbo].[Usuario_Rol] (
    [ID_Usuario] INT NOT NULL,
    [ID_Rol] INT NOT NULL,
    CONSTRAINT [PK__Usuario___CC469CE798162A19] PRIMARY KEY CLUSTERED ([ID_Usuario],[ID_Rol])
);

-- AddForeignKey
ALTER TABLE [dbo].[Cita] ADD CONSTRAINT [FK__Cita__ID_Direcci__08B54D69] FOREIGN KEY ([ID_Direccion]) REFERENCES [dbo].[Direccion]([ID_Direccion]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Cita] ADD CONSTRAINT [FK__Cita__ID_EstadoC__7C4F7684] FOREIGN KEY ([ID_EstadoCita]) REFERENCES [dbo].[EstadoCita]([ID_EstadoCita]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Cita] ADD CONSTRAINT [FK__Cita__ID_MotivoC__0C85DE4D] FOREIGN KEY ([ID_MotivoCancelacion]) REFERENCES [dbo].[MotivoCancelacion]([ID_MotivoCancelacion]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Cita] ADD CONSTRAINT [FK__Cita__ID_Pacient__7D439ABD] FOREIGN KEY ([ID_Paciente]) REFERENCES [dbo].[Paciente]([ID_Paciente]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Cita] ADD CONSTRAINT [FK__Cita__ID_Psicolo__7E37BEF6] FOREIGN KEY ([ID_Psicologo]) REFERENCES [dbo].[Psicologo]([ID_Psicologo]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Cita] ADD CONSTRAINT [FK__Cita__ID_TipoCit__7A672E12] FOREIGN KEY ([ID_TipoCita]) REFERENCES [dbo].[TipoDeCita]([ID_TipoCita]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Expediente] ADD CONSTRAINT [FK__Expedient__ID_Pa__123EB7A3] FOREIGN KEY ([ID_Paciente]) REFERENCES [dbo].[Paciente]([ID_Paciente]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Paciente] ADD CONSTRAINT [FK__Paciente__ID_Dir__5FB337D6] FOREIGN KEY ([ID_Direccion]) REFERENCES [dbo].[Direccion]([ID_Direccion]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[PacienteAdulto] ADD CONSTRAINT [FK__PacienteA__ID_Es__571DF1D5] FOREIGN KEY ([ID_EstadoCivil]) REFERENCES [dbo].[EstadoCivil]([ID_EstadoCivil]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[PacienteAdulto] ADD CONSTRAINT [FK__PacienteA__ID_Oc__5629CD9C] FOREIGN KEY ([ID_Ocupacion]) REFERENCES [dbo].[Ocupacion]([ID_Ocupacion]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[PacienteAdulto] ADD CONSTRAINT [FK__PacienteA__ID_Pa__5535A963] FOREIGN KEY ([ID_PacienteAdulto]) REFERENCES [dbo].[Paciente]([ID_Paciente]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Psicologo] ADD CONSTRAINT [FK__Psicologo__ID_Di__797309D9] FOREIGN KEY ([ID_Direccion]) REFERENCES [dbo].[Direccion]([ID_Direccion]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Psicologo] ADD CONSTRAINT [FK__Psicologo__ID_Us__787EE5A0] FOREIGN KEY ([ID_Usuario]) REFERENCES [dbo].[Usuario]([ID_Usuario]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Psicologo_EspecialidadPsicologo] ADD CONSTRAINT [FK__Psicologo__ID_Es__6FE99F9F] FOREIGN KEY ([ID_Especialidad]) REFERENCES [dbo].[EspecialidadPsicologo]([ID_Especialidad]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Psicologo_EspecialidadPsicologo] ADD CONSTRAINT [FK__Psicologo__ID_Ps__6EF57B66] FOREIGN KEY ([ID_Psicologo]) REFERENCES [dbo].[Psicologo]([ID_Psicologo]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Sesion] ADD CONSTRAINT [FK__Sesion__ID_Cita__160F4887] FOREIGN KEY ([ID_Cita]) REFERENCES [dbo].[Cita]([ID_Cita]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Sesion] ADD CONSTRAINT [FK__Sesion__ID_Exped__02FC7413] FOREIGN KEY ([ID_Expediente]) REFERENCES [dbo].[Expediente]([ID_Expediente]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Sesion_ExploracionPsicologica] ADD CONSTRAINT [FK__Sesion_Ex__ID_Ex__08B54D69] FOREIGN KEY ([ID_ExploracionPsicologica]) REFERENCES [dbo].[ExploracionPsicologica]([ID_ExploracionPsicologica]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Sesion_ExploracionPsicologica] ADD CONSTRAINT [FK__Sesion_Ex__ID_Se__07C12930] FOREIGN KEY ([ID_Sesion]) REFERENCES [dbo].[Sesion]([ID_Sesion]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Tratamiento] ADD CONSTRAINT [FK__Tratamien__ID_Ps__2645B050] FOREIGN KEY ([ID_Psicologo_Firma]) REFERENCES [dbo].[Psicologo]([ID_Psicologo]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Tratamiento] ADD CONSTRAINT [FK__Tratamien__ID_Se__0F624AF8] FOREIGN KEY ([ID_Sesion]) REFERENCES [dbo].[Sesion]([ID_Sesion]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Tutor] ADD CONSTRAINT [FK__Tutor__EstadoCiv__6D0D32F4] FOREIGN KEY ([EstadoCivil]) REFERENCES [dbo].[EstadoCivil]([ID_EstadoCivil]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Tutor] ADD CONSTRAINT [FK__Tutor__Ocupacion__6C190EBB] FOREIGN KEY ([Ocupacion]) REFERENCES [dbo].[Ocupacion]([ID_Ocupacion]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Expediente_Alergia] ADD CONSTRAINT [FK__Expedient__ID_Al__1CBC4616] FOREIGN KEY ([ID_Alergia]) REFERENCES [dbo].[Alergia]([ID_Alergia]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Expediente_Alergia] ADD CONSTRAINT [FK__Expedient__ID_Ex__1BC821DD] FOREIGN KEY ([ID_Expediente]) REFERENCES [dbo].[Expediente]([ID_Expediente]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Paciente_Menor] ADD CONSTRAINT [FK__Paciente___ID_Pa__68487DD7] FOREIGN KEY ([ID_Paciente_Menor]) REFERENCES [dbo].[Paciente]([ID_Paciente]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Recibo] ADD CONSTRAINT [FK__Recibo__ID_Cita__3864608B] FOREIGN KEY ([ID_Cita]) REFERENCES [dbo].[Cita]([ID_Cita]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Recibo] ADD CONSTRAINT [FK__Recibo__ID_Divis__395884C4] FOREIGN KEY ([ID_Divisa]) REFERENCES [dbo].[Divisa]([ID_Divisa]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Recibo] ADD CONSTRAINT [FK__Recibo__ID_Metod__3A4CA8FD] FOREIGN KEY ([ID_MetodoPago]) REFERENCES [dbo].[MetodoPago]([ID_Metodo_Pago]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Tratamiento_Farmaceutico] ADD CONSTRAINT [FK__Tratamien__ID_Tr__2B0A656D] FOREIGN KEY ([ID_Tratamiento_Farmaceutico]) REFERENCES [dbo].[Tratamiento]([ID_Tratamiento]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Tratamiento_Farmaceutico] ADD CONSTRAINT [FK__Tratamien__ID_Vi__2BFE89A6] FOREIGN KEY ([ID_ViaAdministracion]) REFERENCES [dbo].[ViaAdministracion]([ID_ViaAdministracion]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Tratamiento_Terapeutico] ADD CONSTRAINT [FK__Tratamien__ID_Ti__31B762FC] FOREIGN KEY ([ID_Tipo_Terapia]) REFERENCES [dbo].[TipoDe_Terapia]([ID_Tipo_Terapia]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Tratamiento_Terapeutico] ADD CONSTRAINT [FK__Tratamien__ID_Tr__30C33EC3] FOREIGN KEY ([ID_TratamientoTerapeutico]) REFERENCES [dbo].[Tratamiento]([ID_Tratamiento]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Tutor_PacienteMenor] ADD CONSTRAINT [FK__Tutor_Pac__ID_Pa__71D1E811] FOREIGN KEY ([ID_Paciente_Menor]) REFERENCES [dbo].[Paciente_Menor]([ID_Paciente_Menor]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Tutor_PacienteMenor] ADD CONSTRAINT [FK__Tutor_Pac__ID_Pa__72C60C4A] FOREIGN KEY ([ID_Parentesco]) REFERENCES [dbo].[Parentesco]([ID_Parentesco]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Tutor_PacienteMenor] ADD CONSTRAINT [FK__Tutor_Pac__ID_Tu__70DDC3D8] FOREIGN KEY ([ID_Tutor]) REFERENCES [dbo].[Tutor]([ID_Tutor]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Usuario_Rol] ADD CONSTRAINT [FK__Usuario_R__ID_Ro__52593CB8] FOREIGN KEY ([ID_Rol]) REFERENCES [dbo].[Rol]([ID_Rol]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Usuario_Rol] ADD CONSTRAINT [FK__Usuario_R__ID_Us__5165187F] FOREIGN KEY ([ID_Usuario]) REFERENCES [dbo].[Usuario]([ID_Usuario]) ON DELETE NO ACTION ON UPDATE NO ACTION;

COMMIT TRAN;

END TRY
BEGIN CATCH

IF @@TRANCOUNT > 0
BEGIN
    ROLLBACK TRAN;
END;
THROW

END CATCH

