@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

/* Configuración del tema visual */
@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

/* src/index.css */
html, body {
    /* Esto previene el rebote del navegador */
    overscroll-behavior-y: none;
    overscroll-behavior-x: none; 
}

/* Esto fuerza el modo claro/profesional por defecto */
:root {
  color-scheme: light;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #F8FAFC; /* Un gris/azul muy muy pálido, más elegante que el blanco puro */
  color: #334155; /* Gris oscuro suave, no negro total */
}

/* Suavizar todos los botones y cards */
.btn {
  font-weight: 500;
  text-transform: none; /* Quitar mayúsculas forzadas */
  border-radius: 8px;   /* Bordes menos redondos, más modernos */
}

.card {
  border-radius: 12px;
  border: 1px solid #F1F5F9; /* Borde casi invisible */
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.05); /* Sombra de "alta gama" */
}